th[colspan="12"]{
    border-top:2px solid #0054a6;
    padding:5px;
    border-radius:5px;
    transition:0.4s
} 
th[colspan="12"]:hover{
    background:#0054a6;
    color:#fff;
    transition:0.4
}