th[colspan="12"]{
    border-top:2px solid #0054a6;
    padding:3px;
    border-radius:5px;
    transition:0.4s;
    text-align: center
} 
th[colspan="12"]:hover {
    background:#0054a6 !important;
    color:#fff !important;
    transition:0.4s
}

input:not([type="checkbox, radius"]), textarea, select {
    padding: 2px 0 2px 5px; 
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:not([type="checkbox, radius"]):hover, input:not([type="checkbox, radius"]):focus, 
textarea:hover, textarea:focus,
select:hover, select:focus {
	border-color: #a593c3 !important;
	box-shadow: none;
	background: #fff;
	outline: none;
}

input[type="button"] {
    padding: 4px 15px 4px 15px !important; 
    background: #fff;
    color: #0054a6;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
	font-weight: bold;
    outline: none !important;
    transition: 0.4s;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.35);
}
input[type="button"]:hover {
    color: #fff;
    background: #0054a6;
    transition: 0.4s;
}

#display_SEARCH_AP, #display_KEY {
    padding-left: 20px;
}
#status_SEARCH_AP {
    position: absolute;
    margin-left: -175px;
    margin-top: 2.3px;
}
#status_KEY {
    position: absolute;
    margin-left: -140px;
    margin-top: 2.3px;
}
.row_acao .acao {
    padding-top: 15px;
}
table tr th {
    padding: 5px 0 5px 0;
    background-color: #a4caf3;
}
.edit {
    font-size: 10px
}
.icon-envelope, .icon-flag, .icon-play, .icon-pause {
    font-size: 16px;
    vertical-align: middle;
}
