th[colspan="12"]{
    border-top:2px solid #0054a6;
    padding:5px;
    border-radius:5px;
    transition:0.4s;
    text-align: center
} 
th[colspan="12"]:hover {
    background:#0054a6 !important;
    color:#fff !important;
    transition:0.4s
}

input:not([type="checkbox, radius"]), textarea, select {
    padding: 3px 0 3px 5px; 
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:not([type="checkbox, radius"]):hover, input:not([type="checkbox, radius"]):focus, 
textarea:hover, textarea:focus,
select:hover, select:focus {
	border-color: #a593c3 !important;
	box-shadow: none;
	background: #fff;
	outline: none;
}

input[type="button"] {
    padding: 4px 15px 4px 15px !important; 
    background: #fff;
    color: #0054a6;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
	font-weight: bold;
    outline: none !important;
    transition: 0.4s;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.35);
}
input[type="button"]:hover {
    color: #fff;
    background: #0054a6;
    transition: 0.4s;
}